<form [formGroup]="registerForm" [class.was-validated]="registerForm.invalid && registerForm.dirty">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role" >
      <mat-option value="qa">Quality Assurance</mat-option>
      <mat-option value="po">Product Owner</mat-option>
      <mat-option value="dev">Developer</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</form>

<button mat-raised-button color="primary" (click)="register()">Register</button>
<button mat-button routerLink="/login">Back to login</button>
